* {
	font-family: Verdana, Geneva, sans-serif;
	box-sizing: border-box;
}

header {
	width: 100%;
	height:  55px;
	text-align:  center;
	border: 1px solid #25C475;
	border-radius: 5px;
	background-color: #25C475;
	color: white;
}

main {
	padding: 10px 10px 10px 10px;
	border: 3px solid gray;
	border-radius: 5px;
	margin: 5px 100px 5px 100px;
	height: 500px;
	color: #242526;
	overflow:  auto;
}

#titleForm {
	float:  left;
}

#titleForm label {
	margin-bottom: 5px;
}

#titleForm input[type='text'] {
	border-width: 1px;
	border-color: #242526;
	height: 30px;
	width: 200px;
	background-image: url('images/searchicon.ico');
	background-position: 5px 7px;
	background-repeat: no-repeat;
	transition:  width 0.4s ease-in-out;
	padding: 5px 2px 5px 25px;
	margin-right: -1px;
}

#titleForm input[type='text']:focus {
	outline: none;
}

#titleForm button {
	margin-left: -5.5px;
	height: 30px;
	width: 75px;
}

#titleForm button:hover {
	background-color: #ccc;
	border-width: 1px;
	width: 75px;
}

div.msg {
	color: red;
	margin-left: 150px;
	font-style: italic;
	font-size: 12px;
}

div.results {
	text-align: center;
	padding-top: 10px;
}

div.results img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	width: 200px;
  	height: auto;
  	margin-top: 15px;
  	margin-bottom: -17px;
}

#title {
	font-family: 'Oswald', sans-serif;
	font-weight: 1000;
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: -10px;
}

#info {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}

div.buttons {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 15px;
}

#prev, #next {
	margin: 15px 15px 15px 15px;
	width: 100px;
	height: 25px;
	border: 1px solid gray;
	border-radius: 5px;
}

#prev:hover, #next:hover {
	color: white;
	background-color: #25C475;
	border: 1px solid gray;
	border-radius: 5px;
}

#resultsMsg {
	color: black;
	text-align: center;
	font-size: 20px;
	margin: 5px 5px 0px 5px;
}

#pageMsg {
	font-size: 12px;
}
footer {
	width: 100%;
	height:  30px;
	line-height: 5px;
	text-align:  center;
	border: 1px solid #25C475;
	border-radius: 5px;
	background-color: #25C475;
	color: white;
}

